body {
  background-image: url("clouds-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans Condensed", sans-serif;
}

header {
  position: relative;
  margin: 18px 0px -15px 8px;
}

#searchbar {
  font-weight: bolder;
  width: 155px;
}

#search-button {
  color: #161d6f;
  border-color: #726a95;
  width: 55px;
}

#search-button:hover {
  color: #f8f1f1;
  background-color: #5c6e91;
}

#home-button {
  color: #161d6f;
  border-color: #726a95;
  width: 55px;
}

#home-button:hover {
  color: #f8f1f1;
  background-color: #5c6e91;
}

.weather-app {
  max-width: 750px;
  margin: 0 auto;
}

header {
  padding-top: 15px;
}

main {
  max-width: 745px;
  margin: 0 auto;
  background-blend-mode: screen, overlay;
  border-radius: 35px;
  text-align: center;
  position: relative;
  height: 475px;
}

h1 {
  color: #f7d9d9;
  font-family: "Lobster", cursive;
  text-transform: capitalize;
  margin: 0 auto;
}

h4 {
  color: goldenrod;
  font-weight: lighter;
  font-size: 25px;
  margin: 0 auto;
}

p {
  color: #93abd3;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  padding-bottom: 5px;
}

.current-location {
  background-image: linear-gradient(60deg, #29323cc5 0%, #485563c2 100%);
  text-align: left;
  padding: 5px 22px 5px 22px;
  border-radius: 22px;
  width: 425px;
  height: 118px;
  border: 2px solid #425d70;
}

#date-time {
  margin: 0 auto;
  padding: 0px 0px 0px 10px;
}

#location {
  font-size: 65px;
}

.suns-humidity {
  background-image: linear-gradient(60deg, #29323cc4 0%, #485563c7 100%);
  border-radius: 18px;
  width: 200px;
  height: 245px;
  margin: 15px 5px 0px 80px;
  border: 2px solid #425d70;
  padding: 14px 25px 10px 18px;
}

#sunrise-time {
  padding-bottom: 8px;
}

.sunset-time {
  padding-bottom: 8px;
}

#under-sunset {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  margin-bottom: 10px;
  color: #d28d0d;
}

#humidity {
  padding-bottom: 0px;
}

.main-weather {
  background-image: linear-gradient(60deg, #29323cc0 0%, #485563c5 100%);
  border-radius: 40px;
  width: 400px;
  height: 350px;
  border: 2px solid #425d70;
  padding: 18px;
}

.weather-conditions {
  font-size: 28px;
}

#conditions-icon {
  font-size: 42px;
  padding: 8px 0px 0px 0px;
}

#temperature {
  font-size: 85px;
}

#under-temp {
  padding: 0px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  margin-bottom: 18px;
  color: #d28d0d;
}

#feels-like {
  padding-top: 5px;
}
#units {
  font-family: "Open Sans Condensed", sans-serif;
  color: #93abd3;
  font-size: 22px;
  font-weight: bold;
}

ul {
  text-align: center;
  list-style-type: square;
  margin: 0 auto;
  list-style-type: none;
}

li {
  background-image: linear-gradient(60deg, #29323cc0 0%, #485563c5 100%);
  display: inline-block;
  margin: 0 auto;
  padding: 10px 10px;
  font-size: 18px;
  border: 2px solid #425d70;
  border-radius: 18px;
  width: 115px;
  color: #f7d9d9;
  margin-left: 8px;
  margin-right: 8px;
}

#icons {
  color: #d28d0d;
}

#five-day {
  color: #93abd3;
}

footer {
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
}
